<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <!-- Logo und Titel als Header -->
          <ion-list-header>
            <div class="logo-container" routerLink="/home">
              <ion-icon name="film-outline" class="movie-logo"></ion-icon>
              <span>MovieFindr</span>
            </div>
          </ion-list-header>
          <ion-note>Finde deinen nächsten Film!</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Kategorien</ion-list-header>

          @for (category of categories; track category) {
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" button (click)="searchByCategory(category)" 
                        [class.selected]="isActiveCategoryOrGenre(category)">
                <ion-icon aria-hidden="true" slot="start" 
                         [ios]="category.icon + '-outline'" 
                         [md]="category.icon + '-sharp'"
                         [color]="isActiveCategoryOrGenre(category) ? 'primary' : ''">
                </ion-icon>
                <ion-label>{{ category.name }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list id="settings-list">
          <ion-item-divider></ion-item-divider>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" routerLink="/settings" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="settings-outline"></ion-icon>
              <ion-label>Einstellungen</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
