.about-wrap {
  text-align: center;
  display: grid;
  gap: 8px;
}
.tmdb-logo {
  height: 40px;
  margin: 12px auto 0;
  display: block;
}
.attr {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.8;
  line-height: 1.3;
}
